@model ExploreCalefornia.Models.Post

@{
    Layout = "_Layout";

}

@await Html.PartialAsync("_PostBlog")

@*<div class="blog-posts">
    <h2>@Model.Title</h2>
    <div class="details">
        Posted : <span>@Model.PostedDate</span> By <span>@Model.Auther</span>
    </div>
    <div class="content">
        @Model.Body
    </div>
</div>*@